[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "third_party/letsgo"]
	path = third_party/letsgo
	url = https://github.com/binchencoder/letsgo.git
[submodule "third_party/skylb-api"]
	path = third_party/skylb-api
	url = https://github.com/binchencoder/skylb-api.git
[submodule "third_party/gateway-proto"]
	path = third_party/gateway-proto
	url = https://github.com/binchencoder/gateway-proto.git
